body{
  background-image: url(images/fuji-san.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  font-size: 40pt;
  text-shadow: 3px 3px 2px white;
  font-family: HG正楷書体-PRO/*Hannari*/;
  text-align: center;
}

div{
  text-align: center;
}
.image{
/*  border: 3px solid white*/;
  width: 200px;
}
.flex{
  display: flex;
  justify-content: center;
}
.div{
  text-align: center;
}
.button{
  width: 180px;
  height: 60px;
  background: Maroon;
  color: white;
  font-family: HG正楷書体-PRO/*Hannari*/;
  font-size: 25px;
}
button{
  width: 180px;
  height: 60px;
  background: Maroon;
  color: white;
  font-family: HG正楷書体-PRO/*Hannari*/;
  font-size: 25px;
}

.comment{
  backdrop-filter: blur(12px);
  width: 100%;
}

.text{
  font-size: 40pt;
  text-shadow: 3px 3px 2px white;
  font-family: HG正楷書体-PRO/*Hannari*/;
  text-align: center;
  backdrop-filter: blur(12px);
}

span{
  display: inline-block;
}
